.board {
 position: relative;
 width: 500px;
 height: 500px;
 background-color: rgb(106, 106, 106);
 border-radius: 10px;
 box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
  rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.random-object {
 width: 30px;
 height: 30px;
 border-radius: 10px;
 position: absolute;
 cursor: grab;
}

.main-shark {
 width: 40px;
 height: auto;
}
