.board {
 position: relative;
 width: 500px;
 height: 500px;
 backdrop-filter: blur(3px);
 border-radius: 10px;
 box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
  rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

/* .random-object {
 width: 40px;
 height: auto;
 position: absolute;
 cursor: grab;
} */
.shark-image {
 width: 40px;
 height: auto;
}

.random-object-0 {
 width: 40px;
 height: auto;
 animation: 3s ease-out 0s 1 ease-in1;
 position: absolute;
 cursor: grab;
}
.random-object-1 {
 width: 40px;
 height: auto;
 animation: 4s ease-out 0s 1 ease-in2;
 position: absolute;
 cursor: grab;
}
.random-object-2 {
 width: 40px;
 height: auto;
 animation: 2s ease-out 0s 1 ease-in3;
 position: absolute;
 cursor: grab;
}
.random-object-3 {
 width: 40px;
 height: auto;
 animation: 3s ease-out 0s 1 ease-in4;
 position: absolute;
 cursor: grab;
}

@keyframes ease-in1 {
 0% {
  transform: translateX(-200%);
 }
 100% {
  transform: translateX(200%);
 }
}
@keyframes ease-in2 {
 0% {
  transform: translateX(200%);
 }
 100% {
  transform: translateX(-200%);
 }
}
@keyframes ease-in3 {
 0% {
  transform: translateX(-200%);
 }
 100% {
  transform: translateX(200%);
 }
}
@keyframes ease-in4 {
 0% {
  transform: translateX(200%);
 }
 100% {
  transform: translateX(-200%);
 }
}

.shark-toast {
 width: 200px;
 height: auto;
 font-size: 30px;
 color: green;
 font-weight: 800;
}
