.stats {
 height: 300px;
 width: 150px;
 background-color: rgb(165, 165, 165);
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 40px;
}

.timer-title {
 font-size: 15px;
}
